@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div id="apiForm" class="bg-light p-5">
    <h1 class="text-center display-4 mb-4">SteamLookupTool</h1>
    <form method="post">
        <div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@@</span>
                <input type="text" asp-for="@Model.Key" class="form-control" placeholder="API-Key" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@@</span>
                <input type="text" asp-for="@Model.User.Personaname" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="text-center pr-5 pl-5">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </div>
    </form>
</div>
